<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>watchers</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
            integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ea4badf3aa.js" crossorigin="anonymous"></script>
</head>

<body>

<section id="title">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="" style="color:black"><img class="icon-image" src="../static/images/icon.png"
                                                                     alt="iphone-mockup">Watchers</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class=" collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item">
                        <a class="nav-link" href="#footer" style="color:black;">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pricing" style="color:black;" >Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#testimonials" style="color:black;">Testimonial</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="row">
            <div class="col-lg-6">
                <h1>I'ts all About Business Data & intelligence solutions.</h1>
            </div>
            <div class="col-lg-6" d>
                <img class="title-image" src="../static/images/image-1.jpg" alt="iphone-mockup">
            </div>
        </div>
    </div>
</section>


<!-- Features -->

<section id="features">
    <div class="row">
        <div class="feature-box col-lg-4">
            <i class=" icon fa-solid fa-briefcase fa-3x"></i>
            <h3>Business.</h3>
            <p>Knowledge in business like accounting is combined with data in mitigating risk</p>
        </div>
        <div class="feature-box col-lg-4">
            <i class=" icon fa-solid fa-chart-pie fa-3x"></i>
            <h3>Data</h3>
            <p>This is the new oil when harnessed well drives modern business in all aspects from decision making to competion</p>
        </div>
        <div class="feature-box col-lg-4">
            <i class="icon fa-solid fa-brain fa-3x"></i>
            <h3>Intelligence.</h3>
            <p>Business information,knowledge and technology are combined to come up with solution</p>
        </div>
    </div>

</section>


<!-- Testimonials -->

<section id="testimonials">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <h5>"I no longer have to brainstorm in order to gain intelligence from data watchers do it for me and
                    this saves time and money in this shaking economic times"</h5>
                <img class="monials" src="../static/images/img-1.jpg" alt="profile">
                <em>Data Insights</em>
            </div>
            <div class="carousel-item">
                <h5>"Watchers have really been of greate help because they have enabled me to prepare my business in
                    future from their monthly forecast"</h5>
                <img class="monials" src="../static/images/future.jpg" alt="profile">
            </div>
            <div class="carousel-item">
                <h5>"All i need is a phone and i will know how my business is running and how to mitigate risk through
                    proper planning"</h5>
                <img class="monials" src="../static/images/tst.jpg" alt="profile">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>


<!-- Press -->

<section id="press">
    <img class="comp" src="../static/images/booze.webp" alt="tc-logo">
    <img class="comp" src="../static/images/generick.webp" alt="tnw-logo">
    <img class="comp" src="../static/images/fresho.webp" alt="biz-insider-logo">
    <img class="comp" src="../static/images/farmerce.webp" alt="mashable-logo">

</section>


<!-- Pricing -->

<section id="pricing">

    <h2>A Plan for Every Business solution</h2>
    <p>Simple and affordable price plans for your and your dog.</p>
    <div class="row">
        <div class="pricing-column col-lg-4 col-md-6">
        <div class="card">
            <div class="card-header">
                <h3>Data</h3>
            </div>
            <div class="card-body">
                <h2>$500</h2>
                <p>Data Analysis</p>
                <p>Data visualization</p>
                <p>Business intelligence</p>
                <button class="btn btn-lg btn-block btn-outlined-dark" type="button">Sign Up</button>
            </div>
        </div>
        </div>
        <div class="pricing-column col-lg-4 col-md-6">
        <div class="card">
            <div class="card-header">
                <h3>Website</h3>
            </div>
            <div class="card-body">
                <h2>$600</h2>
                <p>Web design </p>
                <p>Web Front end </p>
                <p>Web Backend</p>
                <button button class="btn btn-lg btn-block btn-dark" type="button">Sign Up</button>
            </div>
        </div>
        </div>
        <div class="pricing-column col-lg-4">
        <div class="card">
            <div class="card-header">
                <h3>Artificial intelligence</h3>
            </div>
            <div class="card-body">
                <h2>$700</h2>
                <p>Machine learning</p>
                <p> Predictive Modelling</p>
                <p>Chatbots</p>
                <button button class="btn btn-lg btn-block btn-dark" type="button">Sign Up</button>
            </div>
            </div>
        </div>
    </div>

</section>


<!-- Call to Action -->

<section id="cta">

    <h3 class="cta-h">Find The Perfect Solution For Your Business Today.</h3>
</section>


<!-- Footer -->

<footer id="footer">


    <a class="social" href="https://www.linkedin.com/notifications/?filter=all"><i class="fa-brands fa-linkedin fa-2x"></i></a>
    <a class="social" href="https://twitter.com/ClementImbiruka"><i class="fa-brands fa-twitter fa-2x"></i></a>
    <a class="social" href="https://www.instagram.com/clementimbiruka/"><i class="fa-brands fa-instagram fa-2x"></i></a>
    <a class="social" href="https://web.facebook.com/?_rdc=1&_rdr"><i class="fa-brands fa-facebook fa-2x"></i></a>
    <p>© Copyright watchers</p>
</footer>


</body>

</html>
